<div class="container-fluid">
    <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-lg-8 col-xlg-12 col-md-12">
            <div class="card">
                <!-- Tabs -->
                <form class="form-horizontal form-material" id="admin_form"
                   >
                    <section>
                        <header>Seller Status</header>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Status</label>
                                    <ng-select placeholder="Select Status"[items]=""
                                        class="" bindLabel="" bindValue="">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-outline-primary btn-confirmation" name="dosubmit" type="submit">Send Status<span><i class="icon-ok"></i></span></button>
                        </div>
                    </div>
                    <input name="locker" type="hidden" value="841543">
                </form>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>