#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
#topnav .buy-button {
    float: right;
    line-height: 68px;
    padding: 3px 0;
}
.btn.btn-light-outline:hover, .btn.btn-light-outline:focus, .btn.btn-light-outline:active, .btn.btn-light-outline.active, .btn.btn-light-outline.focus {
    background-color: #f8f9fc;
}
.btn.btn-light-outline {
    border: 1px solid #dee2e6;
    color: #3c4858;
    background-color: transparent;
}
#topnav .logo {
    float: left;
    color: #3c4858 !important;
}
.logo {
    font-weight: 700;
    font-size: 24px;
    padding: 3px 0;
    letter-spacing: 1px;
    line-height: 68px;
}
.btn.btn-light-outline {
    border: 1px solid #dee2e6;
    color: #3c4858;
    background-color: transparent;
}
#topnav .navigation-menu > li > a {
    display: block;
    color: #3c4858;
    font-size: 13px;
    background-color: transparent !important;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Nunito", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
#topnav .navigation-menu > li {
    float: left;
    display: block;
    position: relative;
    margin: 0 10px;
}
.shadow {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
}
#topnav.nav-sticky {
    background: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.8px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}
.rounded {
    border-radius: 10px !important;
}
.bg-home {
    height: 100vh;
    background-size: cover;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    background-position: center center;
}
.home-center {
    display: table;
    width: 100%;
    height: 100%;
}
.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}
.login-page {
    font-size: 15px;
}
.form-group {
    margin-bottom: 20px !important;
}
.form-group .icons {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100px;
    font-size: 18px;
}
.form-group .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #dee2e6;
    height: 40px;
    font-size: 13px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.login-page .forgot-pass {
    z-index: 99;
    position: relative;
    font-size: 13px;
}
.text-dark {
    color: #3c4858 !important;
}
.form-group label {
    font-size: 13px;
    font-weight: 700;
}
// $topnav-background-color: #222;
// :host {
//     display: block;
// }
#topnav .menu-extras {
    float: right;
}
.btn.btn-primary {
    background: #2f55d4;
    border: 1px solid #2f55d4;
}
.list-inline-item:not(:last-child) {
    margin-right: 5px;
}
.btn.btn-light-outline {
    border: 1px solid #dee2e6;
    color: #3c4858;
    background-color: transparent;
}
// .login-page {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     overflow: auto;
//     background: #fff;
//     text-align: center;
//     // color: #fff;
//     padding: 3em;

//     .col-lg-4 {
//         padding: 0;
//     }

//     .input-lg {
//         height: 46px;
//         padding: 10px 16px;
//         font-size: 18px;
//         line-height: 1.3333333;
//         border-radius: 0;
//     }

//     .input-underline {
//         background: 0 0;
//         border: none;
//         box-shadow: none;
//         border-bottom: 2px solid rgba(255, 255, 255, 0.5);
//         color: #fff;
//         border-radius: 0;
//     }

//     .input-underline:focus {
//         border-bottom: 2px solid #fff;
//         box-shadow: none;
//     }

//     .rounded-btn {
//         -webkit-border-radius: 50px;
//         border-radius: 50px;
//         color: rgba(255, 255, 255, 0.8);
//         background: $topnav-background-color;
//         border: 2px solid rgba(255, 255, 255, 0.8);
//         font-size: 18px;
//         line-height: 40px;
//         padding: 0 25px;
//     }

//     .rounded-btn:hover,
//     .rounded-btn:focus,
//     .rounded-btn:active,
//     .rounded-btn:visited {
//         color: rgba(255, 255, 255, 1);
//         border: 2px solid rgba(255, 255, 255, 1);
//         outline: none;
//     }

//     h1 {
//         font-weight: 300;
//         margin-top: 20px;
//         margin-bottom: 10px;
//         font-size: 36px;

//         small {
//             color: rgba(255, 255, 255, 0.7);
//         }
//     }

//     .form-group {
//         padding: 8px 0;

//         input::-webkit-input-placeholder {
//             color: rgba(255, 255, 255, 0.6) !important;
//         }

//         input:-moz-placeholder {
//             /* Firefox 18- */
//             color: rgba(255, 255, 255, 0.6) !important;
//         }

//         input::-moz-placeholder {
//             /* Firefox 19+ */
//             color: rgba(255, 255, 255, 0.6) !important;
//         }

//         input:-ms-input-placeholder {
//             color: rgba(255, 255, 255, 0.6) !important;
//         }
//     }

//     .form-content {
//         padding: 40px 0;
//     }

//     .user-avatar {
//         -webkit-border-radius: 50%;
//         border-radius: 50%;
//         border: 2px solid #fff;
//     }
// }
#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
#topnav .navigation-menu > li {
    float: left;
    display: block;
    position: relative;
    margin: 0 10px;
}

a {
    text-decoration: none !important;
}
#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
#topnav .navbar-toggle {
    border: 0;
    position: relative;
    width: 60px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
@media (min-width: 992px) {
#topnav .navbar-toggle {
    display: none;
}
}

@media (min-width: 768px) {
.navbar-toggle {
    display: block;
}
}
@media (min-width: 992px) {
#topnav .navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
}

@media (min-width: 992px) {
#topnav .navigation-menu > li:hover, #topnav .navigation-menu > li.active > a {
    color: #2f55d4 !important;
}
}

@media (min-width: 992px) {
#topnav .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 62px;
}
}