/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/bootstrap';
@import 'spinner';
@import 'utils';
@import 'rtl';
@import 'responsive';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'form-header';

@media print {
    .breadcrumb {
        display: none !important;
    }
}
body {
    font-family: "Nunito", sans-serif;
    overflow-x: hidden !important;
    font-size: 16px;
    color: #161c2d;
}

.ng-select .ng-select-container {
    box-shadow: none;
    border: 1px solid #dee2e6;
    height: 40px;
    font-size: 13px;
    border-radius: 10px;
    transition: all 0.5s ease;
}